
/*Null_Style*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
/*html::-webkit-scrollbar {
  width: 0;*/
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 16px;
	line-height: 1.6;
}



.container{
	
	width: 100%;
	margin: 0 auto;

	
}

/* header*/
.header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}
.header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.header_logo{
	height: 50px;
	width: 60px;
	margin: 50px 0px 0px 57px;
}
.nav {
	font-size:18px;
}
.nav_link{
	margin: 75px 0px 0px 18px;
	display: inline-flex;
	color: #ffffff; /* white*/
	text-decoration: none;
	transition: color 0.2s linear;
}
.nav_link:hover{
	color: #135ec5; /* blue*/
}
.nav_link2{
	margin: 75px 0px 0px 73px;

}
.button_login {
  background-color: white;
  border: none;
  color: #135ec5; /* BLUE */
  padding: 23px 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  margin:54px 68px 0px 42px;
  border-radius: 25px;
}


/* First part */

.intro{
	background-color: #131210; /*black*/
	width: 100%;
	
}
.intro_inner{
	background-color: #131210; /*black*/
	width: 100%;

}
.img_car{
	position: relative;
	width:784;
	height:462;
	margin: 336px 570px 114px 470px;
	z-index: 20;
}
.text_against{
	position: absolute;
	top: 230px;
	left: 250;
	width: 100%;
	font-size: 185px;
	z-index: 10;
	color: #6e634c;
	text-align: center;
	opacity: 0.150;
}

/*search block*/

.search_block_container{
	background-color: #131210; /*black*/
	width: 100%;
}

.search_block {
	display: flex;
	justify-content: space-around;
	margin: 0px 100px 0px 10px;
	width: 100%; 
	position: relative;
	padding-bottom: 100px;
}
.input_car{
	font-size: 24px;
	color: #ffffff;
	margin: 0px 110px 0px 0px;
	height: 70px;
	width: 330px;
	border: none;
	background-color: #131210;/*black*/
	border-bottom: 1px solid #3c3c3c; /*grey*/
}


.input_car::placeholder{
	position: relative;
	font-size: 30px;
	font-weight: 600;
	bottom: -13px;
}
.input_car:focus::placeholder {
  color: transparent;
}

.button_search {
position: relative;
background-color: #135ec5;/*Blue*/
border: none;
color: #ffffff; /* WHITE */
padding: 23px 36px;
text-align: center;
text-decoration: none;
font-size: 16px;
text-transform: uppercase;
font-weight: 600;
border-radius: 25px;
margin-right: 50px;
}


/*  SERIES Block*/

.header_series{
	width: 100%;
}
.header_series_title{
	font-size: 18px;
	text-align: center;
	color: #c1c1c1; /* Grey */
	margin: 60px 0px;
}
.header_series_label{
	display: flex;
	justify-content: space-between;
	margin: 1px 50px 50px 80px;
	border-bottom-color: #c1c1c1; /* Grey */
	border-bottom: 10px;
}
.grey_line{
	
	border: none;
    background-color: #c1c1c1; /* Grey */
    color: red; /* Цвет линии для IE6-7 */
    height: 2px;
}
.wrapp_series{
	display: flex;
	flex-direction: row;
}
.img_car2{
	position: absolute;
	height: 280px;
	width: 100%;
	margin: 187px 240px 150px 235px;
}
.img_car2 img {
	position: relative;
	z-index: 10;
}
.img_car2 span {
	position: absolute;
	font-size: 176.65px;
	top: -125px;
	left: -75px;
	color: #ffffff;
	z-index:9;
	text-shadow: 2px 5px 5px #dadada;
	}
.BMV_Series{
	width: 100%;
	height: 295px;
	right: -400px;
	text-align: right;
	margin: 165px 260px 160px 240px;
}
.BMV_Series h2{
	font-size: 60px;
	font-weight: 600;
	color: #135ec5;
}

.BMV_Series p {
	font-size: 16px;
	color: #c1c1c1 /* Grey*/

}
.button_view_all_models{
position: relative;
background-color: #135ec5;/*Blue*/
border: none;
color: #ffffff; /* WHITE */
padding: 23px 36px;
text-align: center;
text-decoration: none;
font-size: 16px;
text-transform: uppercase;
font-weight: 600;
border-radius: 25px;
margin-top: 60px;
}

/* ADD Now Block*/
.wrapper_add {
	display: flex;
	height: 838px;
	color: #ffffff; /*White*/
}
.blue_add{
	width: 100%;
	height: 540px;
	background-color: #135ec5;/*Blue*/
}
.text_add{
	text-align: center;
	margin-top: 130px;
}
.text_add_title{
	color: #ffffff; /*White*/
	font-size: 60px;
}
.button_add_now{
position: relative;
border: 2px solid #ffffff; /* WHITE */ 
background-color: #135ec5;/*Blue*/
color: #ffffff; /* WHITE */
padding: 15px 0px;
text-align: center;
text-decoration: none;
font-size: 16px;
text-transform: uppercase;
font-weight: 600;
border-radius: 25px;
margin-top: 85px;
margin-bottom: 70px;
width: 215px;
height: 55px;
}
.img_car_add{
	text-align: center;
	margin-top: -38px;
}

/* Mersedes Benz */

.wrapper_mersedes_benz{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	height: 834px;
	width: 100%;
}
.Mersedes_benz_Large{
	height: 683px;
	width: 950px;
	background: linear-gradient(to right, white 65%, blue 35%);
}
.Mersedes_img{
	position: absolute;
	margin-left: 345px;
	margin-top: 150px;
}
.button_fresh1{
position: absolute;
border: 2px solid #ffffff; /* WHITE */ 
background-color: #135ec5;/*Blue*/
color: #ffffff; /* WHITE */
padding: 23px 30px 35px 30px;
text-align: center;
text-decoration: none;
font-size: 16px;
text-transform: uppercase;
font-weight: 600;
border-radius: 25px;
width: 215px;
height: 55px;
margin-left: 720px;
margin-top: 50px;
}
.Mercedes_text{
	height: 684px;
	width: 350px;
}
.Mersedes_up_title{
	font-size: 14px;
	font-weight: 600;
	color: #f0f0f0;
}
.Mercedes_up_price{
	font-size: 50px;
	font-weight: 600;
	color: #16ad2c;
	margin-left: 400px;
	margin-top: -100px;

}
.Mersedes_title{
	color: #135ec5;
	font-size: 30px;
	font-weight: 600;

}
.Mercedes_text_inside{

	color: #dbdbd9;

}
.button_Order_by{
border: 2px solid #ffffff; /* WHITE */ 
width: 215px;
height: 55px;
margin-top: 295px;
position: relative;
background-color: #135ec5;/*Blue*/
border: none;
color: #ffffff; /* WHITE */
padding: 23px 36px 35px 36px;
text-align: center;
text-decoration: none;
font-size: 16px;
text-transform: uppercase;
font-weight: 600;
border-radius: 25px;

}


.Mersedes_benz_small{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
;	height: 570px;
	width: 450px;
	background: linear-gradient(to top, white 62%, blue 38%);
}
.button_fresh2{
align-items: flex-end;
border: 2px solid #ffffff; /* WHITE */ 
background-color: #ffffff; /* WHITE */ 
color: #135ec5;/*Blue*/
padding: 10px 15px 20px 15px;
text-align: center;
text-decoration: none;
font-size: 14px;
text-transform: uppercase;
font-weight: 600;
border-radius: 25px;
width: 135px;
height: 40px;
margin-left: 300px;
margin-top: 50px;
}
.img_Mersedes_benz_small{
	position: absolute;
	height:165px; 
	width:300px;
	margin-left: 65px;
	margin-top: 0px;
}
.Mercedes_benz_title{
	text-align: center;
	font-weight: 600;
	font-size: 30px;
	color: #000000;/* Black */
	margin-top: 400px;
}
.Mercedes_benz_blue_text{
	text-align: center;
}